body {
    margin: 0;
}
nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: gray;
    transform: translateX(-210px);
    transition: 0.4s;
    display: flex;
    align-items: center;
}
nav:hover {
    transform: translateX(0);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
    opacity: 0;
    transition: 0.3s;
}
nav:hover ul {
    opacity: 1;
}
nav ul li {
    padding: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.label:hover {
    color: orange;
}
nav ul li::before {
    content: "◆";
    color: orange;
    margin-right: 10px;
}

.menu-label {
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    color: white;
    background-color: gray;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}